.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	width: 0;
	clear: both;
}

#debug_toolbar {
	font-size: 14px;
	font-family: tahoma;
	background-color: white;
	color: black;
	padding: 5px;
	line-height: 1.2;

	/*position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	width: 600px;

	box-shadow: black -2px 2px 31px;*/
}

	#debug_toolbar_tabs {
	}

	#debug_toolbar_small_list {
		border-bottom: silver solid 1px;
		list-style: none;
		padding: 0;
		margin: 0;
		margin-bottom: 5px;
	}

		#debug_toolbar_small_list li {
			float: left;
			margin-right: 5px;
		}

			#debug_toolbar_small_list li a {
				font-weight: bold;
				color: black;
				font-size: 16px;
			}

		#debug_toolbar .debug_templates {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		#debug_toolbar .debug_templates li {
			font-size: 14px;
			margin-top: 2px;
			margin-bottom: 2px;
			margin-left: 0;
			margin-top: 0;
			padding: 2px;

			background-color: #00A0B0;
			cursor: pointer;
		}

			#debug_toolbar .debug_templates li.template_not_visible {
			}

			#debug_toolbar .debug_templates li.template_in_head {
				background-color: #EDC951;
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAGCAYAAAA2aTUtAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wEEAkvCWigPO0AAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAtUlEQVQoz63Rz0pCYRQE8B/uBXc+QYaChAutx+ld+rPxIaIkDI1aRPteJ1yGaSrZZpTL5boJZ/OdOTBzzpyPamz9D5W6WqEeYOo4mKBfbHQwwi0a6W3wisvwGywxDH/BCm/hT6l3SRrRPKANM/RKm/ziFIvweQzm4SOsC6YLtCrOdYZP6GJcSrItvV9oFsSrGKxRT8qTUpJrPMZ/jws8HxhyhR/ch3/gLif6zpLvqWv52/Od8R/31zCgSFmoSwAAAABJRU5ErkJggg==);
				background-position-x: 99%;
				background-position-y: 5px;
				background-repeat: no-repeat;
			}

			#debug_toolbar .debug_templates li.template_in_body {
				background-color: #EB6841;
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAHCAYAAAD9NeaIAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wEEAkzAPcL2RQAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAz0lEQVQoz7XRq0qDARyG8Z+6JAqDgWlFGIoWMXjIw2sQTMKuYIjJKGjwJhRFJpvJwzV4CzaTYVhEZGKZlncwPiYTxLc9//OBn/XldxobN1ngdXT8XW2sFY3LuMAxyrH1cY+98Dbe0Ahf4TabzOEy9lMs4AjnWBo0ecHqiDMs4iH8mOT38Ed4cK5rzAw1gxV0S4E6DvCEE7wmuY9KYqoo4TM8UfjHDQ6zfRn7mMdW8WybmWgqE9+hGd8uutgJt1Kwl9/O4hnT+euGf1ANZ6Mc338+K1OhMO3/AAAAAElFTkSuQmCC);
				background-position-x: 99%;
				background-position-y: 5px;
				background-repeat: no-repeat;
			}

			#debug_toolbar .debug_templates li span {
				font-weight: bold;
			}

			#debug_toolbar .debug_templates li div.details {
				margin-left: 5px;
				display: none;
				word-wrap: break-word;
			}

				#debug_toolbar .debug_templates li div.details p{
					margin: 0;
					padding: 0;
				}

				#debug_toolbar .debug_templates li div.details span{
					font-weight: bold;
				}

		#debug_toolbar .debug_messages_menu {
			list-style: none;
			padding: 0;
			margin: 0;
			margin-bottom: 5px;
		}

			#debug_toolbar .debug_messages_menu li {
				float: left;
				margin-right: 5px;
			}


				#debug_toolbar .debug_messages_menu input {
					margin: 0;
					padding: 0;
				}

				#debug_toolbar .debug_messages_menu label {
					display: inline;
					font-weight: normal;
					padding: 0;
				}

		#debug_toolbar .debug_messages {
			margin: 0;
			padding: 0;
		}

			#debug_toolbar .debug_messages li {
				font-size: 14px;
				margin-top: 2px;
				margin-bottom: 2px;
				margin-left: 0;
				margin-top: 0;
				padding: 2px;

				max-height: 35px;
				overflow: hidden;
				cursor: pointer;
				word-wrap: break-word;
			}

			#debug_toolbar .debug_messages li.full {
				max-height: none;
				white-space: pre-wrap;
			}

			#debug_toolbar .debug_messages li .debug_message_label {
				font-weight: bold;
			}

			#debug_toolbar .debug_messages li.error {
				background-color: #E34234;
			}

			#debug_toolbar .debug_messages li.warning {
				background-color: #E3A857;
			}

			#debug_toolbar .debug_messages li.notice {
				background-color: #FADA5E;
			}

			#debug_toolbar .debug_messages li.timing {
				background-color: #99BADD;
			}

			#debug_toolbar .debug_messages li.debug {
				background-color: #00A86B;
			}

.ezdebug_template_infobox {
	position: absolute;
	border: solid red 2px;
	padding: 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wEEAcBNt9fNfYAAACdSURBVFjD7dfJCYAwFEXR51/YgaQLW7Bz+xE7yMqd4BQDLnKR9wsIh0CG281jmnSavC56m35Iqp0v6wUZdwHScAcgEbcDqThJCjLu9pCQcHldysDWuOIOEnCPQAruFkjCXYA03AFIxO1AKk6Sgoyruqhbv9VBxlXtYOu3Osi4IpDyywkyzk3iJnGTuEncJG4SN4mbxE3iJnGT/L5JNpRe8ZI5sMLZAAAAAElFTkSuQmCC);
	display: block;
	box-shadow: 0px 0px 25px 8px rgba(255, 0, 0, 0.75);
	margin: 0;
	z-index: 1000;
	min-width: 10px;
	min-height: 10px;
	opacity: 1;

	font-size: 12px;
	font-weight: normal;
	color: black;
	font-family: courier;
}

	.ezdebug_template_infobox span {
		display: none;
	}