.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	width: 0;
	clear: both;
}

#debug_toolbar {
	font-size: 14px;
	font-family: tahoma;
	background-color: white;
	color: black;
	line-height: 1.2;
}

	#debug_toolbar_tabs {
	}

	#debug_toolbar_small_list {
		border-bottom: silver solid 1px;
		list-style: none;
		padding: 0;
		margin: 0;
		margin-bottom: 5px;
	}

		#debug_toolbar_small_list li {
			float: left;
			margin-right: 5px;
		}

			#debug_toolbar_small_list li a {
				font-weight: bold;
				color: black;
				font-size: 16px;
			}

		#debug_toolbar .debug_templates {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		#debug_toolbar .debug_templates li {
			font-size: 14px;
			margin-top: 2px;
			margin-bottom: 2px;
			margin-left: 0;
			margin-top: 0;

			background-color: #00A0B0;

			background-position-x: 5px;
			background-position-y: 5px;
			background-repeat: no-repeat;
			overflow: hidden;
		}

			#debug_toolbar .debug_templates li .title {
				position: relative;
				font-weight: bold;
				display: block;
				width: 100%;
				padding: 2px;
				padding-left: 38px;
				cursor: pointer;
				box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
			}

			#debug_toolbar .debug_templates li .title::before {
				content: '';
				position: absolute;
				margin-left: 3px;
				font-size: 9px;
				margin-top: 3px;
				font-family: arial;
				left: 0;
			}

			#debug_toolbar .debug_templates li.template_position_unknown {
			}

			#debug_toolbar .debug_templates li.template_position_head {
				background-color: #EDC951;
			}

				#debug_toolbar .debug_templates li.template_position_head .title::before {
					content: '<head>';
				}

			#debug_toolbar .debug_templates li.template_position_body {
				background-color: #EB6841;
			}

				#debug_toolbar .debug_templates li.template_position_body .title::before {
					content: '<body>';
				}

			#debug_toolbar .debug_templates li div.details {
				margin-left: 5px;
				display: none;
				word-wrap: break-word;
				padding: 4px;
			}

				#debug_toolbar .debug_templates li div.details p{
					margin: 0;
					padding: 0;
				}

				#debug_toolbar .debug_templates li div.details span{
					font-weight: bold;
				}

		#debug_toolbar .debug_messages_menu {
			list-style: none;
			padding: 0;
			margin: 0;
			margin-bottom: 5px;
		}

			#debug_toolbar .debug_messages_menu li {
				float: left;
				margin-right: 5px;
			}


				#debug_toolbar .debug_messages_menu input {
					margin: 0;
					padding: 0;
				}

				#debug_toolbar .debug_messages_menu label {
					display: inline;
					font-weight: normal;
					padding: 0;
				}

		#debug_toolbar .debug_messages {
			margin: 0;
			padding: 0;
		}

			#debug_toolbar .debug_messages li {
				font-size: 14px;
				margin-top: 2px;
				margin-bottom: 2px;
				margin-left: 0;
				margin-top: 0;
				padding: 2px;

				cursor: pointer;
				max-height: 16px;
				overflow: hidden;
				word-wrap: break-word;
			}

			#debug_toolbar .debug_messages li.full {
				max-height: none;
				white-space: pre-wrap;
				cursor: default;
				padding: 0;
			}

				#debug_toolbar .debug_messages li.full .debug_message_label {
					display: block;
					cursor: pointer;
					box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
					padding: 2px;
				}

				#debug_toolbar .debug_messages li.full .debug_message_content {
					padding: 4px;
					display: block;
				}

			#debug_toolbar .debug_messages li .debug_message_content {
				display: inline;
			}

			#debug_toolbar .debug_messages li .debug_message_label {
				font-weight: bold;
				display: inline;
			}

			#debug_toolbar .debug_messages li.error {
				background-color: #E2725B;
			}

			#debug_toolbar .debug_messages li.warning {
				background-color: #E3A857;
			}

			#debug_toolbar .debug_messages li.notice {
				background-color: #FADA5E;
			}

			#debug_toolbar .debug_messages li.timing {
				background-color: #99BADD;
			}

			#debug_toolbar .debug_messages li.debug {
				background-color: #EDE574;
			}

			#debug_toolbar .debug_messages li.dbquery {
				background-color: #AA98BF;
			}

			#debug_toolbar .debug_messages li.is_new .debug_message_label {
				padding-left: 17px;
				position: relative;
			}

				#debug_toolbar .debug_messages li.is_new  .debug_message_label::before {
					content: 'new';
					position: absolute;
					font-size: 9px;
					margin-top: 2px;
					font-family: arial;
					font-weight: normal;
					left: 0;
				}

			#debug_toolbar .debug_messages li.full.is_new .debug_message_label {
				padding-left: 19px;
			}

				#debug_toolbar .debug_messages li.full.is_new  .debug_message_label::before {
					left: 2px;
				}