.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	width: 0;
	clear: both;
}

#debug_toolbar {
	font-size: 14px;
	font-family: tahoma;
	background-color: white;
	color: black;
	line-height: 1.2;
}

	#debug_toolbar_tabs {
	}

	#debug_toolbar_small_list {
		border-bottom: silver solid 1px;
		list-style: none;
		padding: 0;
		margin: 0;
		margin-bottom: 5px;
	}

		#debug_toolbar_small_list li {
			float: left;
			margin-right: 5px;
		}

			#debug_toolbar_small_list li a {
				font-weight: bold;
				color: black;
				font-size: 16px;
			}

		#debug_toolbar .debug_templates {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		#debug_toolbar .debug_templates li {
			font-size: 14px;
			margin-top: 2px;
			margin-bottom: 2px;
			margin-left: 0;
			margin-top: 0;
			padding: 2px;
			padding-left: 40px;

			background-color: #00A0B0;
			cursor: pointer;

			background-position-x: 5px;
			background-position-y: 5px;
			background-repeat: no-repeat;
		}

			#debug_toolbar .debug_templates li::before {
				content: '';
				position: absolute;
				margin-left: -36px;
				font-size: 9px;
				margin-top: 3px;
				font-family: arial;
			}

			#debug_toolbar .debug_templates li.template_position_unknown {
			}

			#debug_toolbar .debug_templates li.template_position_head {
				background-color: #EDC951;
			}

				#debug_toolbar .debug_templates li.template_position_head::before {
					content: '<head>';
				}

			#debug_toolbar .debug_templates li.template_position_body {
				background-color: #EB6841;
			}

				#debug_toolbar .debug_templates li.template_position_body::before {
					content: '<body>';
				}

			#debug_toolbar .debug_templates li span {
				font-weight: bold;
			}

			#debug_toolbar .debug_templates li div.details {
				margin-left: 5px;
				display: none;
				word-wrap: break-word;
			}

				#debug_toolbar .debug_templates li div.details p{
					margin: 0;
					padding: 0;
				}

				#debug_toolbar .debug_templates li div.details span{
					font-weight: bold;
				}

		#debug_toolbar .debug_messages_menu {
			list-style: none;
			padding: 0;
			margin: 0;
			margin-bottom: 5px;
		}

			#debug_toolbar .debug_messages_menu li {
				float: left;
				margin-right: 5px;
			}


				#debug_toolbar .debug_messages_menu input {
					margin: 0;
					padding: 0;
				}

				#debug_toolbar .debug_messages_menu label {
					display: inline;
					font-weight: normal;
					padding: 0;
				}

		#debug_toolbar .debug_messages {
			margin: 0;
			padding: 0;
		}

			#debug_toolbar .debug_messages li {
				font-size: 14px;
				margin-top: 2px;
				margin-bottom: 2px;
				margin-left: 0;
				margin-top: 0;
				padding: 2px;

				max-height: 16px;
				overflow: hidden;
				cursor: pointer;
				word-wrap: break-word;
			}

			#debug_toolbar .debug_messages li.full {
				max-height: none;
				white-space: pre-wrap;
			}

			#debug_toolbar .debug_messages li .debug_message_label {
				font-weight: bold;
			}

			#debug_toolbar .debug_messages li.error {
				background-color: #E2725B;
			}

			#debug_toolbar .debug_messages li.warning {
				background-color: #E3A857;
			}

			#debug_toolbar .debug_messages li.notice {
				background-color: #FADA5E;
			}

			#debug_toolbar .debug_messages li.timing {
				background-color: #99BADD;
			}

			#debug_toolbar .debug_messages li.debug {
				background-color: #00A86B;
			}

.ezdebug_template_infobox {
	position: absolute;
	border: solid red 2px;
	padding: 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wEEAcBNt9fNfYAAACdSURBVFjD7dfJCYAwFEXR51/YgaQLW7Bz+xE7yMqd4BQDLnKR9wsIh0CG281jmnSavC56m35Iqp0v6wUZdwHScAcgEbcDqThJCjLu9pCQcHldysDWuOIOEnCPQAruFkjCXYA03AFIxO1AKk6Sgoyruqhbv9VBxlXtYOu3Osi4IpDyywkyzk3iJnGTuEncJG4SN4mbxE3iJnGT/L5JNpRe8ZI5sMLZAAAAAElFTkSuQmCC);
	display: block;
	box-shadow: 0px 0px 25px 8px rgba(255, 0, 0, 0.75);
	margin: 0;
	z-index: 1000;
	min-width: 10px;
	min-height: 10px;
	opacity: 1;

	font-size: 12px;
	font-weight: normal;
	color: black;
	font-family: courier;
}

	.ezdebug_template_infobox span {
		display: none;
	}