/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #0ABFBC; color: #fff; text-shadow: none; }
::selection { background: #0ABFBC; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* MAIN STYLES */
/* Palette: http://www.colourlovers.com/palette/778713/Miaka */

* {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #29221F;
}

body {
}

h1, h2 {
	font-family: 'Orbitron', serif;
}

h1 {
	font-size: 36px;
	color: #FC354C;
	text-shadow: #FCF7C5 0 0 5px;
}

h2 {
	font-size: 28px;
	color: #FC354C;
	text-shadow: #FCF7C5 0 0 5px;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: #13747D;
	text-shadow: #0ABFBC 0 0 6px;
}

	a:hover {
		text-shadow: #0ABFBC 0 0 10px;
	}

div.main, header, footer {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

footer {
	text-align: right;
	margin-top: 50px;
}

	footer p {
		color: #29221F;
		font-size: 10px;
	}

header nav li {
	display: inline-block;
	margin-right: 10px;
}

	header nav li::after {
		content: '\00d7';
		margin-left: 10px;
	}

	header nav li:last-child::after{
		content: '';
	}

strong {
	color: #29221F;
}

ul.list-of-images {
	padding: 0;
	margin-left: 5px;
}

	ul.list-of-images li {
		display: inline-block;
	}

p.note {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 5px;

	background: white url('../images/note_bg.png') 0 0 repeat;
	border-radius: 100px 50px; 
}

pre {
  overflow: auto;
  border: solid 1px #9AACAE;
  font-family: courier,Georgia,Serif;
  background: #EFEFEF;
  margin: 5px;
  padding: 5px;
}

/* http://tympanus.net/codrops/2011/11/02/original-hover-effects-with-css3/ */
.view {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 6px #29221F;
    cursor: default;
}

	.view-big {
		width: 842px;
	}

.view .mask, .view .content {
    width: 400px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

	.view-big .mask, .view-big .content {
		width: 842px;
	}

.view img {
    display: block;
    position: relative
}
.view h3 {
    text-transform: uppercase;
    color: #29221F;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-size: 16px;
    position: relative;
    color: #29221F;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

/*Secound effect*/
.view-second img {
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}
.view-second .mask {
    background-color: rgba(255,247,197, 0.8);
    width: 400px;
    padding: 80px;
    height: 300px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
    -moz-transform: translate(265px, 145px) rotate(45deg);
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transform: translate(265px, 145px) rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
}

	.view-second.view-big .mask {
		width: 842px;
		padding: 250px;
	}

.view-second h3 {
    border-bottom: 1px solid rgba(255,53,76, 0.6);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
    -moz-transform: translate(200px, -200px);
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transform: translate(200px, -200px);
    -webkit-transition: all 0.2s ease-in-out;
}
.view-second p {
    transform: translate(-200px, 200px);
    transition: all 0.2s ease-in-out;
    -moz-transform: translate(-200px, 200px);
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transform: translate(-200px, 200px);
    -webkit-transition: all 0.2s ease-in-out;
}
.view-second a.info {
    transform: translate(0px, 100px);
    transition: all 0.2s 0.1s ease-in-out;
    -moz-transform: translate(0px, 100px);
    -moz-transition: all 0.2s 0.1s ease-in-out;
    -webkit-transform: translate(0px, 100px);
    -webkit-transition: all 0.2s 0.1s ease-in-out;
}

.view-second:hover .mask {
    opacity:1;
    transform: translate(-80px, -125px) rotate(45deg);
    -moz-transform: translate(-80px, -125px) rotate(45deg);
    -webkit-transform: translate(-80px, -125px) rotate(45deg);
}
.view-second:hover h3 {
    transform: translate(0px,0px);
    transition-delay: 0.3s;
    -moz-transform: translate(0px,0px);
    -moz-transition-delay: 0.3s;
    -webkit-transform: translate(0px,0px);
    -webkit-transition-delay: 0.3s;
}
.view-second:hover p {
    transform: translate(0px,0px);
    transition-delay: 0.4s;
    -moz-transform: translate(0px,0px);
    -moz-transition-delay: 0.4s;
    -webkit-transform: translate(0px,0px);
    -webkit-transition-delay: 0.4s;
}
.view-second:hover a.info {
    transform: translate(0px,0px);
    transition-delay: 0.5s;
    -moz-transform: translate(0px,0px);
    -moz-transition-delay:  0.5s;
    -webkit-transform: translate(0px,0px);
    -webkit-transition-delay: 0.5s;
}

/* END MAIN STYLES */

@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
